#--------------------------------------------------------------------------------------
# meadorjc a gmail.com 03/19/2015
# 
# 1. '#' character removes from filter  
# 2. put the xpath of content from xml schema
# 3. order determines CSV output
#--------------------------------------------------------------------------------------

#COMMON FIELDS
transaction/transId
transaction/transactionStatus
transaction/settleAmount
transaction/batch/batchId/settlementTimeLocal
transaction/authAmount
transaction/submitTimeLocal
transaction/authCode
transaction/refTransId
transaction/transactionType
transaction/AVSResponse
transaction/cardCodeResponse
transaction/customer/email
transaction/payment/creditCard
transaction/payment/creditCard/cardNumber
transaction/payment/creditCard/expirationDate
transaction/payment/creditCard/accountType
transaction/payment/bankAccount/routingNumber
transaction/payment/bankAccount/accountNumber
transaction/payment/bankAccount/nameOnAccount
transaction/payment/bankAccount/eCheckType

#OTHER FIELDS
#messages/resultCode 
#messages/message/code
#messages/message/text
#transaction/transId
#transaction/refTransId
#transaction/splitTransId
#transaction/splitTenderId
#transaction/submitTimeUTC
#transaction/submitTimeLocal
#transaction/transactionType
#transaction/transactionStatus
#transaction/responseCode
#transaction/responseReasonCode
#transaction/responseReasonDescription
#transaction/authCode
#transaction/AVSResponse
#transaction/cardCodeResponse
#transaction/CAVVResponse
#transaction/FDSFilterAction
#transaction/FDSFilterAction/FDSFilters/FDSFilter/name
#transaction/FDSFilterAction/FDSFilters/FDSFilter/action
#transaction/batch/batchId
#transaction/batch/batchId/settlementTimeUTC
#transaction/batch/batchId/settlementTimeLocal
#transaction/batch/batchId/settlementState
#transaction/order/invoiceNumber
#transaction/order/description
#transaction/order/purchaseOrderNumber
#transaction/requestAmount
#transaction/authAmount
#transaction/settleAmount
#transaction/tax/amount
#transaction/tax/name
#transaction/tax/description
#transaction/shipping/amount
#transaction/shipping/name
#transaction/shipping/description
#transaction/duty/amount
#transaction/prepaidBalanceRemaining
#transaction/taxExempt
#transaction/customer/type
#transaction/customer/id
#transaction/customer/email
#transaction/payment/creditCard
#transaction/payment/creditCard/cardNumber
#transaction/payment/creditCard/expirationDate
#transaction/payment/creditCard/accountType
#transaction/payment/bankAccount/routingNumber
#transaction/payment/bankAccount/accountNumber
#transaction/payment/bankAccount/nameOnAccount
#transaction/payment/bankAccount/eCheckType
#transaction/billTo/firstName
#transaction/billTo/lastName
#transaction/billTo/company
#transaction/billTo/address
#transaction/billTo/city
#transaction/billTo/state
#transaction/billTo/zip
#transaction/billTo/country
#transaction/billTo/phoneNumber
#transaction/billTo/faxNumber
#transaction/shipTo/firstName
#transaction/shipTo/lastName
#transaction/shipTo/company
#transaction/shipTo/address
#transaction/shipTo/city
#transaction/shipTo/state
#transaction/shipTo/zip
#transaction/shipTo/country
#transaction/recurringBilling
#transaction/customerIP
#transaction/subscription/id
#transaction/subscription/payNum
#transaction/marketType
#transaction/product
#transaction/solution/id
#transaction/solution/name
#transaction/mobileDeviceID